.fondonegro {
  background-color: black;
}

.frenteRojo {
    color: 'red'
}

.altura60 {
  height: 60px;
}

#uno {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: red;
}

#dos {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: yellow;
}

#tres {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: green;
}